<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="HI" value="Hello"/>
  <classes>
  <class name="Assign3.Para"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
